@model CRUDAjaxDemo.ViewModels.ShowCommentsViewModel
@{
    ViewBag.Title = "ShowComments";
}

<style>
    body {
        padding-top: 0px !important;
        padding-bottom: 20px;
    }

    .ActionIcon {
        height: 20px;
    }

    .table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .table td, .table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #ddd;
        }

        .table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

    .header {
        background-color: white;
        color: black;
        min-height: 70px !important;
        align-items: center;
        text-align: center;
    }

    .headerText {
        padding-top: 15px;
    }

    .btnDiv {
        width: 100%;
        text-align: right;
        padding: 10px;
        top: 0 !important;
        position: absolute;
    }

    .form-box {
        position: relative !important;
        width: 400px;
        height: auto !important;
        border: 2px solid rgba(255,255,2550.5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px !important;
    }

    .container {
        display: block !important;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        max-width: 100% !important;
        padding: 0px !important;
    }
</style>
<div class="btnDiv">
    <a href="@Url.Action("Index", "Home", new { Id= Model.LoginUserId})" class="btn btn-info"><span>Home</span></a>
</div>
<div class="header">
    <h2 class="headerText">Comments</h2>
    @Html.HiddenFor(m => m.LoginUserId)
</div>
<table id="tblRecord" class="table" style="background-color:white;color:black">
    <thead>
        <tr>
            <th>
                <span>Sr. No.</span>
            </th>
            <th>
                <span>Comment Header</span>
            </th>
            <th>
                <span>Comment Description</span>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="tbody">
        @foreach (var item in Model.CommentList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Index)
                    @Html.HiddenFor(modelItem => item.UserId)
                    @Html.HiddenFor(modelItem => item.CommentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentHeader)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentDescription)
                </td>

                <td>
                    <div class="button">
                        <a href="@Url.Action("EditComment", "Comments", new { UserId = item.UserId,CommentId=item.CommentId})">
                            <img src="~/Images/Edit.png" class="ActionIcon" />
                        </a>

                        <img src="~/Images/Delete.png" class="downloadIcon" onclick="DeleteFile(@item.CommentId)" />
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>
<script>
    function DeleteFile(CommentId) {
        if (confirm("Are you sure you want to delete project?")) {
            var data = JSON.stringify({ CommentId: CommentId });
            $.ajax({
                url: "/Comments/DeleteComment",
                type: "POST",
                data: data,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.IsValid) {
                        toastr.success(result.ResultMessage);
                        location.reload();
                    }
                    else {
                        toastr.error(result.ResultMessage)
                    }
                },
                error: function (errormessage) {
                    toastr.error("Error");
                }
            });
        }
    }
</script>


