@model CRUDAjaxDemo.ViewModels.SearchSynopsysModel
@{
    ViewBag.Title = "SearchFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .SearchBox {
        color: black;
        display: flex;
        background-color: aqua;
        padding: 5px;
        align-items: flex-end;
    }

        .SearchBox input, select {
            width: 50%
        }

    .header {
        background-color: white;
        color: black;
        min-height: 70px !important;
        align-items: center;
        text-align: center;
    }
</style>
<div class="header">
    <h2 class="headerText">Search Project</h2>
</div>
<div class="SearchBox">
    <div style="width:20%">
        <span>Student Name: </span>
        @Html.TextBox("UserName", null, new { @placeholder = "UserName", onchange = "Search();" })
    </div>
    <div style="width: 18%">
        <span>College: </span>
        @Html.DropDownList("College", (IEnumerable<SelectListItem>)ViewData["College"], "--Select--", new { onchange = "Search();" })
    </div>
    <div style="width:18%">
        <span>Category: </span>
        @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewData["Category"], "--Select--", new { onchange = "Search();" })
    </div>
    <div style="width:20%">
        <span>Project Name:  </span>
        @Html.TextBox("SynopsisHeader", null, new { @placeholder = "Project Name ", onchange = "Search();" })
    </div>
    <div style="width:24%">
        <span>Problem Statment: </span>
        @Html.TextBox("SynopsisDescription", null, new { @placeholder = "Problem Statment", onchange = "Search();" })
    </div>
</div>
<table id="tblRecord" class="table" style="background-color:white;color:black">
    <thead>
        <tr>
            <th><span>Sr. No.</span></th>
            <th>
                <span>Student</span>
            </th>
            <th>
                <span>College</span>
            </th>
            <th>
                <span>Category</span>
            </th>
            <th>
                <span>Projet Name</span>
            </th>
            <th>
                <span>Problem Statement</span>
            </th>
            <th>
                <span>Files</span>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="tbody">
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
    });

    function Search() {
        var objSearch = new Object();
        objSearch.UserId = $("#LoginUserId").val();
        objSearch.UserName = $("#UserName").val();
        objSearch.CollegeID = $("#College").val();
        objSearch.CategoryId = $("#Category").val();
        objSearch.SynopsisHeader = $("#SynopsisHeader").val();
        objSearch.SynopsisDescription = $("#SynopsisDescription").val();

        var data = JSON.stringify({ objSearch: objSearch });
        $.ajax({
            url: "/Synopsis/SearchFiles/" + 1,
            type: "POST",
            data: data,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                DisplayData(result.data);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function DisplayData(data) {
        var html = '';
        $.each(data, function (key, item) {
            html += '<tr>';
            html += '<td>' + item.synopsysList.Index + '</td>';
            html += '<td>' + item.synopsysList.UserName + '</td>';
            html += '<td>' + item.synopsysList.CollegeName + '</td>';
            html += '<td>' + item.synopsysList.CategoryName + '</td>';
            html += '<td>' + item.synopsysList.SynopsisHeader + '</td>';
            html += '<td>' + item.synopsysList.SynopsisDescription + '</td>';
            //html +=
            //    '<td>' + $.each(data.synopsysList.Files, function (filekey, file) {
            //        '<span>' +
            //            file.FileName
            //            + '</span>'
            //        '<a href="Synopsis/Download/' + file.FileID + '/"" >< img src = "~/Images/Download.png"" class="downloadIcon" /></a> '
            //            + '</td>';
            //        html += '<td>' +
            //                if (item.UserId == data.LoginUserId) {
            //            ' <input value="Edit" class="btn" type="button" onclick="EditSynopsisDetails(' + item.SynopsisId + ')" />'
            //        }
            //        +'</td >';
            html += '</tr>';
        });
        $('.tbody').html(html);
    }

</script>



